<section class="container">
  <div class="container__img">
    <img src="http://dummyimage.com/110x122.jpg/5fa2dd/ffffff"/>
  </div>
  <div class="container__text">
    <h1 class="container__text-lost">{{ lost }}</h1>
    <h2 class="container__text-title">{{ title }}</h2>
    <p class="container__text-description">{{ description }}</p>
    <div class="btn">
      <a class="container__btn" href="#">
        <span>HOME</span>
        <div class="liquid"></div>
      </a>
    </div>
  </div>
</section>
