<header class="header">
  <div class="header__logo">
    <img routerLink="/home" src="../../../../assets/images/carlossn-06.png"/>
  </div>
  <div class="header__pages">
    <a routerLink="/notFound" routerLinkActive="active">404</a>
    <a routerLink="/dashboard" routerLinkActive="active">SM Dashboard</a>
    <a routerLink="/uploader" routerLinkActive="active">Uploader</a>
    <a routerLink="/weather" routerLinkActive="active">Weather</a>
    <a routerLink="/github" routerLinkActive="active">Github Jobs</a>
    <a routerLink="/tracker" routerLinkActive="active">IP Tracker</a>
    <a routerLink="/auth" routerLinkActive="active">Auth App</a>
    <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
    <a routerLink="/chat" routerLinkActive="active">Chat</a>
    <a routerLink="/trello" routerLinkActive="active">Trello</a>
  </div>
</header>
