<footer class="footer">
  <p class="footer__title">Created by <span><a href="https://platzi.com/p/CarGDev/" target="_blank">CarGDev</a></span></p>
  <div class="footer__logo">
    <a href="https://www.linkedin.com/in/cargdev/" target="_blank"><img src="http://dummyimage.com/110x122.jpg/5fa2dd/ffffff"/></a>
    <a href="https://www.twitch.tv/cargdev" target="_blank"><img src="http://dummyimage.com/110x122.jpg/5fa2dd/ffffff"/></a>
    <a href="https://www.instagram.com/cargdev/" target="_blank"><img src="http://dummyimage.com/110x122.jpg/5fa2dd/ffffff"/></a>
  </div>
</footer>
