<footer class="footer">
  <p class="footer__title">Created by <span> <a href="https://platzi.com/p/CarGDev/" target="_blank"> CarGDev</a></span></p>
  <div class="footer__logo">
    <a href="https://www.linkedin.com/in/cargdev/" target="_blank"><img src="../../../../assets/images/Social media/linkedin white.png"/></a>
    <a href="https://www.twitch.tv/cargdev" target="_blank"><img src="../../../../assets/images/Social media/twitch white.png"/></a>
    <a href="https://www.instagram.com/cargdev/" target="_blank"><img src="../../../../assets/images/Social media/instagram white.png"/></a>
    <a href="https://twitter.com/CarGDev" target="_blank"><img src="../../../../assets/images/Social media/twitter white.png"/></a>

  </div>
</footer>
