<section class="container">
  <div class="container__img">
    <img src="../../../../assets/images/5f925a4b065b191e76aed89ab4d94d17.jpg"/>
  </div>
  <div class="container__text">
    <h1 class="container__text-lost">{{ lost }}</h1>
    <h2 class="container__text-title">{{ title }}</h2>
    <p class="container__text-description">{{ description }}</p>
    <div class="btn">
      <a class="container__btn" routerLink="/home" routerLinkActive="active">
        <span>HOME</span>
        <div class="liquid"></div>
      </a>
    </div>
  </div>
</section>
