.container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 100vh;
  background-color: #000000;
}

.container__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__img img {
  width: 500px;
  height:500px;
  border-radius: 50px;
}

.container__text {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.container__text-lost {
  margin: 0;
  padding-right: 90px;
  font-size: 100px;
  align-self: center;
}

.container__text-title {
  padding-top: 30px;
  padding-right: 90px;
  margin: 0;
  align-self: center;
  font-size: 40px;
}

.container__text-description {
  margin: 0;
  padding: 20px 90px 20px 0;
  padding-top: 30px;
  font-size: 20px;
  text-align: justify;
}

.btn {
  display: flex;
  padding-right: 90px;
  align-items: center;
  justify-content: center;
}

.container__btn {
  margin: 90px;
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 40px;
}

.container__btn span {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
  padding: 60px;
}

.container__btn .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 300px;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

.container__btn .liquid::after,
.container__btn .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.container__btn .liquid::before {

  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.container__btn .liquid::after {

  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

.container__btn:hover .liquid{
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

